<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/item.css">
    <title>知乎</title>
</head>
<body>
    <div class="box">
        <h2>文章详情页</h2>
        <div class="topics_content">
            <%topic.forEach((item) =>{%>
            <p><%=item.title%></p>
            <%})%>
        </div>
        <div>
            <h3><%=question[0].title%></h3>
            <%=question[0].content%>
        </div>
    </div>
    
</body>
</html>